### EX1 : Participant Exercise
    
       1. Define the variable called age and income, assign values 30 and 50000.0 respectively.
       2. Write a print statement using f-string to print the output as following:
          "Age is: 30 Years and Income is: INR 50000.0"
       3. Write an if-else condition
               If age is more than 25 and less than 40 years and income is more than 30000.0 than set a variable named                    "approved" to True or set yo False.

In [2]:
age = 30
income = 50000.0

In [3]:
print(f"Age is: {age} Years and Income is: {income}")

Age is: 30 Years and Income is: 50000.0

In [7]:
if age > 25 and age < 40 and income > 30000.0:
    approved = True
else:
    approved = False
    
print(approved)

True

### EX2 : Participant Exercise
      
          1. Write a function
                 •	named getAgeGroup
                 •	which takes a paramter age
                 •	the default value of the age is 25
                 •	it returns the age group as either "young" or "adult" or 'mid-age" or "old" based on age
                          	if age < 20, then return young
                          	if age >= 20, but < 35 then adult
                          	if age >= 35, but < 55 then mid-age
                          	if age > 55 then old
          2. Invoke the function with different ages and test.

In [20]:
def getAgeGroup(age = 25):
   if age < 20:
      print("Young")
   elif age >= 20 and age < 35:
      print("Adult")
   elif age >= 35 and age < 55:
      print("Mid-age")
   else:
      print("Old")
            
getAgeGroup()

Adult

In [21]:
getAgeGroup(16)

Young

In [22]:
getAgeGroup(47)

Mid-age

In [23]:
getAgeGroup(78)

Old

In [24]:
getAgeGroup(5)

Young

In [25]:
getAgeGroup(33)

Adult

In [26]:
getAgeGroup(25)
getAgeGroup(56)
getAgeGroup(77)
getAgeGroup(5)
getAgeGroup(34)

Adult
Old
Old
Young
Adult

### EX3 : Participant Exercise

      1. Create a list with the following 10 students names:
           - Krishnaa J., Jyoti Adhya, C. Haradas, Korravai Rarikh, Saurandhri Vaknis, Sambridhi Holkar, Sita Padhy,                     Ambika Sanyal, Nehal Vadekar, Sarama Upalekar     
      2. Create two lists named "math_scores" and "science_scores"
      3. Populate the above two variables with randomly generated numbers between 20 and 90     
      4. Both the scores should have exactly 10 items only,. Assume that the names and scores are mapped in the same                 sequence.     
      5. Write a function which takes math and science score of each individual returns the total score and grade 
           - Grade is Pass if both the scores are greater than equal to 50
           - Grade is Fail if any one of the scores is less than 50
           - The function should return a tuple with total score and grade e.g. (110, "Pass")             
      6. Iterate through the student names and invoke the above function
      7. Store all information in a dictionary with names as keys and results (tuple with total score and grade) as                  values.     
      8. Print the dictionary.

In [40]:
a=0
b=0
from random import randint

Students_name = ['Krishnaa J.','Jyoti Adhya','C. Haradas','Korravai Rarikh','Saurandhri Vaknis','Sambridhi Holkar','Sita Padhy','Ambika Sanyal','Nehal Vadekar','Sarama Upalekar']

math_scores = []
while a<10:
    math_scores.append(randint(20,90))
    a=a+1
print("Maths : ",math_scores)

science_scores = []
while b<10:
    science_scores.append(randint(20,90))
    b=b+1
print("Science : ",science_scores)

Scores = []

def getScoreGrade(math_scores,science_scores):
    for i in range(0,10):
        total = math_scores[i] + science_scores[i]
        if math_scores[i] >= 50 and science_scores[i] >= 50:
            result = [total,"Pass"]
            Scores.append(tuple(result))
        elif math_scores[i] < 50 or science_scores[i] < 50:
            result = [total,"Fail"]
            Scores.append(tuple(result))
        else:
            return None
    
getScoreGrade(math_scores,science_scores)
Final_result = dict(zip(Students_name,Scores))
Final_result

Maths :  [83, 48, 86, 62, 79, 72, 75, 26, 55, 56]
Science :  [51, 85, 58, 74, 27, 88, 41, 50, 87, 90]

{'Krishnaa J.': (134, 'Pass'),
 'Jyoti Adhya': (133, 'Fail'),
 'C. Haradas': (144, 'Pass'),
 'Korravai Rarikh': (136, 'Pass'),
 'Saurandhri Vaknis': (106, 'Fail'),
 'Sambridhi Holkar': (160, 'Pass'),
 'Sita Padhy': (116, 'Fail'),
 'Ambika Sanyal': (76, 'Fail'),
 'Nehal Vadekar': (142, 'Pass'),
 'Sarama Upalekar': (146, 'Pass')}

### EX4 : Participant Exercise

1. The variable daily_prices contains information about a stock open and close prices for 10 days
2. Calculate the daily gains and create a dictionary which stores the date and daily gains as shown below
        [{'Date': '17-05-2016', 'Gain': -0.32},
         {'Date': '16-05-2016', 'Gain': 0.33},
         {'Date': '13-05-2016', 'Gain': -0.02},
         {'Date': '12-05-2016', 'Gain': 0.1},
         {'Date': '11-05-2016', 'Gain': -0.33},
         {'Date': '10-05-2016', 'Gain': 1.05},
         {'Date': '09-05-2016', 'Gain': 0.77},
         {'Date': '06-05-2016', 'Gain': -0.89},
         {'Date': '05-05-2016', 'Gain': 0.12},
         {'Date': '04-05-2016', 'Gain': -0.12}]
3. The gain should be calculated as (Close - Open) *100 / Open.
4. The gain value should be rounded to 2 decimal places
5. Accomplish the above task using both the approaches: List comprehension and map() function

In [1]:
daily_prices = [ {'Date': '17-05-2016', 'Open': 1218.0, 'Close': 1214.05005},
                 {'Date': '16-05-2016', 'Open': 1210.0, 'Close': 1213.94995},
                 {'Date': '13-05-2016', 'Open': 1207.0, 'Close': 1206.69995},
                 {'Date': '12-05-2016', 'Open': 1208.94995, 'Close': 1210.19995},
                 {'Date': '11-05-2016', 'Open': 1205.0, 'Close': 1201.05005},
                 {'Date': '10-05-2016', 'Open': 1200.0, 'Close': 1212.55005},
                 {'Date': '09-05-2016', 'Open': 1190.0, 'Close': 1199.1500199999998},
                 {'Date': '06-05-2016', 'Open': 1192.0, 'Close': 1181.44995},
                 {'Date': '05-05-2016', 'Open': 1191.0, 'Close': 1192.44995},
                 {'Date': '04-05-2016', 'Open': 1191.0, 'Close': 1189.55005} ]

In [7]:
def dailyGains(i):
    gain_dic = {}
    gains = round((i['Close'] -i['Open'])*100/ i['Open'],2)
    gain_dic['Date'] = i['Date']
    gain_dic['Gain'] = gains
    return gain_dic

In [8]:
list1 = [dailyGains(x) for x in daily_prices]
list1

[{'Date': '17-05-2016', 'Gain': -0.32},
 {'Date': '16-05-2016', 'Gain': 0.33},
 {'Date': '13-05-2016', 'Gain': -0.02},
 {'Date': '12-05-2016', 'Gain': 0.1},
 {'Date': '11-05-2016', 'Gain': -0.33},
 {'Date': '10-05-2016', 'Gain': 1.05},
 {'Date': '09-05-2016', 'Gain': 0.77},
 {'Date': '06-05-2016', 'Gain': -0.89},
 {'Date': '05-05-2016', 'Gain': 0.12},
 {'Date': '04-05-2016', 'Gain': -0.12}]

In [11]:
list2 = map(dailyGains,daily_prices)
list(list2)

[{'Date': '17-05-2016', 'Gain': -0.32},
 {'Date': '16-05-2016', 'Gain': 0.33},
 {'Date': '13-05-2016', 'Gain': -0.02},
 {'Date': '12-05-2016', 'Gain': 0.1},
 {'Date': '11-05-2016', 'Gain': -0.33},
 {'Date': '10-05-2016', 'Gain': 1.05},
 {'Date': '09-05-2016', 'Gain': 0.77},
 {'Date': '06-05-2016', 'Gain': -0.89},
 {'Date': '05-05-2016', 'Gain': 0.12},
 {'Date': '04-05-2016', 'Gain': -0.12}]